{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit{% else %}Create{% endif %} Post | Advanced Blog{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h4 class="mb-3">{% if object %}Edit{% else %}Create{% endif %} post</h4>
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">
            {% if object %}Save changes{% else %}Create{% endif %}
          </button>
          <a href="{% url 'blog:post_list' %}" class="btn btn-outline-secondary ms-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
